/* HEADER */

#logotop
{
min width: 20%,
min height: 50%,
margin-left: 10%,
box-sizing: border-box,
}
.header
{
display:flex,
flex-direction: row,

}


.textheader
{
    width:100%,
    text-align: left,
    vertical-align:bottom,
     box-sizing: border-box,
   margin-left: 20px,
    font-size: xx-large,
    color:black,
    min-width: auto,   
}


/* MENUTOP */

.menutop
{
    padding: 20px,
    

    
    background-color: black,

}

a { 
    color: #faf8f8, } 


/* body */
section
{
display: flex ,
}
article {
    width: 70%,
    align-items: stretch,
    
}
aside{
    width: 30%,
border: darkred,
    align-items: flex-end,
    background-color: darkgray,

}

table, tr
{
font-size: 1.2em,

}

/* media queries */


@media screen and (max-width: 768px)
{

.menutop
{
    display:flex,
    flex-direction: column,
}
aside
{display:none,
}
article {

    font-size: 0.8em,
    color:blue, 
}

}